# ----------------------
# Environment files
# ----------------------
.env
*.env

# ----------------------
# Podman / Docker volumes
# ----------------------
pg_data/
n8n_data/

# ----------------------
# Node / OS / IDE
# ----------------------
# macOS
.DS_Store

# Linux
*.swp
*~

# VSCode
.vscode/

# JetBrains
.idea/
*.iml

# Logs
*.log
